
     <link rel="stylesheet" href="style.css"> 

   @{
    ViewData["Title"] = "Index";
}
<nav class="Navegador">
    <ul>
        <li><a href="Index.html"><img src="~/imgs/BanderaArgentina.jfif"></a></li>
        <li><a href='@Url.Action("Elecciones")'></a>Elecciones</li>
        <li><a href='@Url.Action("Creditos")'></a>Creditos</li>
    </ul>
</nav>

<h1>TP XI - Index</h1>
@foreach (Partido i in ViewBag.ListarPartido)
{
    <h1>@i.Nombre</h1>
    <img src="@i.Logo">
    <a href='@Url.Action("VerDetallePartido","Home",new {i.IdPartido})' alt="">Ver detalle candidato</a>
}
 