
     <link rel="stylesheet" href="style.css"> 

    @{
    ViewData["Title"]="DetallePartido";
}
<h1>Detalle Partido</h1>

@foreach (Candidato i in ViewBag.CandidatosPartido)
{
    <h1>Nombre del/a Candidato/a: @i.Nombre</h1>
    <h1>Apellido del/a Candidato/a: @i.Apellido</h1>
    <h1>Fecha de nacimiento del/a Candidato/a: @i.FechaNacimiento</h1>
    <h1>El/La Candidato/a se postula a: @i.Postulacion</h1>
    <a href='@Url.Action("EliminarCandidato",new {idCandidato=@i.IdCandidato,idPartido=@i.IdPartido})'>Eliminar Candidato</a>
    <a href='@Url.Action("VerDetalleCandidato",new {idCandidato=@i.IdCandidato,idPartido=@i.IdPartido})'>Ver Detalle Candidato</a>
}
